@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common css */
.my-container{
    @apply container mx-auto px-10
}
.btn-primary{
    @apply px-5 py-3 text-white text-lg font-semibold rounded bg-gradient-to-r from-indigo-400 to-violet-400 rounded-lg
}
.default{
    @apply text-base font-semibold text-gray-500
}
.default2{
    @apply text-base font-semibold text-gray-200
}
.active{
    @apply bg-gradient-to-r from-indigo-500 to-violet-500 bg-clip-text text-transparent
}
.sectionTitle{
    @apply text-4xl font-bold my-5
}